html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */


body {
  color: #242121;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6000000238418579px;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  max-width: 1100px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0.6000000238418579px;
  color: #01353E;
  position: relative;
  padding-right: 48px;
  display: inline-block;
}

.title::after {
  content: '/';
  position: absolute;
  width: 48px;
  height: 85px;
  bottom: -30px;
  right: 0;
  color: #00B2A0;
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 85px;
}

.header__bottom {
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -134px;
}

.header__top {
  padding: 35px 0;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
}

.menu__item + .menu__item {
  margin-left: 39px;
}

.menu__link {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  padding: 0 3px 9px;
  border-bottom: 2px solid transparent;
  transition: all .3s;
}

.menu__link:hover {
  border-bottom: 2px solid rgb(0, 178, 160);
}

.header__title {
  color: #0D302C;
  font-family: 'Raleway', sans-serif;
  font-size: 200px;
  font-weight: 700;
  line-height: 235px;
  letter-spacing: 0.6000000238418579px;
}

.header__subtitle {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.6000000238418579px;
}

.about,
.benefits {
  padding: 190px 0 200px;
}

.about__title,
.benefits__title {
  left: 50%;
  transform: translateX(-50%);
}

.about__title,
.benefits__title {
  margin-bottom: 95px;
}

.about__columns {
  display: flex;
  justify-content: space-between;
}

.about__column {
  max-width: 480px;
}

.about__column p + p {
  margin-top: 30px;
}

.benefits {
  background-color: #F8F8F8;
}

.benefits__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}

.benefits__item {
  max-width: 350px;
}

.benefits__item-title {
  text-align: center;
  position: relative;
  padding-left: 65px;
  color: #242121;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.6000000238418579px;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  height: 52px;
}

.benefits__item-title::before {
  position: absolute;
  content: '';
  top: -10px;
  left: 0;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: cover;
}

.benefits__item-title--1::before {
  background-image: url('../images/benefits/1.svg');
}

.benefits__item-title--2::before {
  background-image: url('../images/benefits/2.svg');
}

.benefits__item-title--3::before {
  background-image: url('../images/benefits/3.svg');
}

.benefits__item-text {
  margin-top: 20px;
}

.benefits__content {
  display: flex;
  justify-content: space-between;
}

.benefits__descr {
  max-width: 600px;
}

.benefits__descr p + p {
  margin-top: 30px;
}

.benefits__progress {
  max-width: 350px;
}

.benefits__progress-item {
  width: 350px;
}

.benefits__progress-item + .benefits__progress-item {
  margin-top: 20px;
}

.benefits__progress-bar {
  width: 350px;
  height: 15px;
  background-image: url('../images/wave-line.svg');
  background-repeat: no-repeat;
  position: relative;
}

.benefits__progress-bar span {
  position: absolute;
  right: -50px;
  top: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6000000238418579px;
  color: #242121;
}