html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */


body {
  color: #242121;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6000000238418579px;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0.6000000238418579px;
  color: #01353E;
  position: relative;
  padding-right: 48px;
  display: inline-block;
}

.title::after {
  content: '/';
  position: absolute;
  width: 48px;
  height: 85px;
  bottom: -30px;
  right: 0;
  color: #00B2A0;
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 85px;
}

.header__bottom {
  background-image: url('../images/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
}

.header__top {
  padding: 35px 0;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.header__mob-btn {
  display: none;
}

.menu__list {
  display: flex;
}

.menu__item + .menu__item {
  margin-left: 39px;
}

.menu__link {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  padding: 0 3px 9px;
  border-bottom: 2px solid transparent;
  transition: all .3s;
}

.menu__link:hover {
  border-bottom: 2px solid rgb(0, 178, 160);
}

.header__title {
  color: #0D302C;
  font-family: 'Raleway', sans-serif;
  font-size: 200px;
  font-weight: 700;
  line-height: 235px;
  letter-spacing: 0.6000000238418579px;
}

.header__subtitle {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.6000000238418579px;
}

.about,
.benefits,
.highs {
  padding: 190px 0 200px;
}

.about__title,
.benefits__title,
.gallery__title,
.blog__title,
.team__title,
.prices__title,
.footer__title {
  left: 50%;
  transform: translateX(-50%);
}

.about__title,
.benefits__title,
.highs__title {
  margin-bottom: 95px;
}

.about__columns {
  display: flex;
  justify-content: space-between;
}

.about__column {
  max-width: 480px;
}

.about__column p + p {
  margin-top: 30px;
}

.benefits {
  background-color: #F8F8F8;
}

.benefits__items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}

.benefits__item {
  max-width: 350px;
}

.benefits__item-title {
  text-align: center;
  position: relative;
  padding-left: 65px;
  color: #242121;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.6000000238418579px;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  height: 52px;
}

.benefits__item-title::before {
  position: absolute;
  content: '';
  top: -10px;
  left: 0;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-size: cover;
}

.benefits__item-title--1::before {
  background-image: url('../images/benefits/1.svg');
}

.benefits__item-title--2::before {
  background-image: url('../images/benefits/2.svg');
}

.benefits__item-title--3::before {
  background-image: url('../images/benefits/3.svg');
}

.benefits__item-text {
  margin-top: 20px;
}

.benefits__content {
  display: flex;
  justify-content: space-between;
}

.benefits__descr {
  max-width: 600px;
}

.benefits__descr p + p {
  margin-top: 30px;
}

.benefits__progress {
  max-width: 350px;
}

.benefits__progress-item {
  width: 350px;
}

.benefits__progress-item + .benefits__progress-item {
  margin-top: 20px;
}

.benefits__progress-bar {
  width: 350px;
  height: 15px;
  background-image: url('../images/wave-line.svg');
  background-repeat: no-repeat;
  position: relative;
}

.benefits__progress-bar span {
  position: absolute;
  right: -50px;
  top: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6000000238418579px;
  color: #242121;
}

.highs {
  background-image: url('../images/highs-bg.jpg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
}

.highs__content {
  max-width: 550px;
  padding-right: 40px;
}

.highs__title {
  font-size: 40px;
}

.highs__text p + p {
  margin-top: 30px;
}

.gallery {
  margin-bottom: 200px;
}

.gallery__title,
.blog__title,
.team__title,
.prices__title,
.footer__title {
  margin-bottom: 210px;
}

.gallery__buttons {
  margin-bottom: 50px;
}

.gallery__btn + .gallery__btn {
  margin-left: 20px;
}

.gallery__btn {
  border: none;
  padding: 0;
  background-color: transparent;
}

.gallery__btn.mixitup-control-active {
  color: #00B2A0;
}

.gallery__btn,
.gallery__more-link {
  color: #242121;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6000000238418579px;
}

.gallery__images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin-bottom: 50px;
}

.gallery__images img {
  height: 280px;
}

.gallery__images img:first-child, 
.gallery__images img:last-child {
  grid-column: span 2;
}

.gallery__more {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}

.gallery__more-link {
  padding: 23px 90px;
  border: 1px solid rgb(196, 196, 196);
}

.gallery__blockquote-wrapper {
  background-color: #F8F8F8;
  padding: 80px 0;
  text-align: center;
  margin-bottom: 200px;
}

.gallery__blockquote {
  color: #242121;
  font-style: italic;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.6000000238418579px;
  position: relative;
  display: inline-block;
}

.gallery__blockquote-author {
  position: absolute;
  right: -150px;
  bottom: -15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6000000238418579px;
}

.gallery__play {
  width: 100%;
  height: 600px;
  background-image: url('../images/video-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.gallery__stats {
  max-width: 690px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.gallery__stat {
  text-align: center;
}

.gallery__num {
  color: #01353E;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0.6000000238418579px;
}

.blog {
  margin-bottom: 200px;
}

.blog__slide-content {
  text-align: right;
}

.blog__slider-inner {
  background-image: url('../images/blog-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
}

.blog__slider .slick-dots {
  display: flex;
  justify-content: center;
}

.blog__slider .slick-dots li + li {
  margin-left: 15px;
}

.blog__slider .slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  height: 15px;
  border-radius: 50%;
  width: 15px;
  background-color: #fff;
}

.blog__slider .slick-active button {
  background-color: #00B2A0;
}

.blog__slide {
  text-align: right;
}


.blog__slide-content {
  max-width: 600px;
  color: #fff;
  text-align: left;
  padding: 315px 0 80px;
}

.blog__slide-link {
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0.6000000238418579px;
  margin-bottom: 10px;
}

.team {
  margin-bottom: 200px;
}

.team__inner {
  display: flex;
  justify-content: space-between;
}

.team__item {
  text-align: center;
}

.team__name {
  margin-top: 25px;
  color: #242121;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.6000000238418579px;
}

.team__position {
  color: #242121;
}

.prices {
  background-color: #F8F8F8;
  padding: 200px 0;
}

.prices__inner {
  display: flex;
  justify-content: space-between;
}

.price__item {
  padding: 45px 30px;
  background-color: #fff;
  min-height: 575px;
  position: relative;
}

.prices__item-title {
  color: #01353E;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 55px;
  text-align: center;
}

ul.prices__list {
  margin-bottom: auto;
}

ul.prices__list li {
  color: #242121;
}

ul.prices__list li + li {
  margin-top: 20px;
}

.prices__num {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #01353E;
  margin-top: auto;
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
}

.prices__num sup {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.map {
  max-width: 1475px;
  margin: 200px auto;
}

.footer__inner {
  display: flex;
  margin-bottom: 200px;
  justify-content: space-between;
}

.form {
  max-width: 570px;
}

.footer__inner input,
.footer__inner textarea {
  border-bottom: 2px solid #dadada;
  border: none;
  border-bottom: 2px solid #dadada;
  padding: 5px 5px 20px;
  width: 100% !important;
}

.footer__inner input::placeholder,
.footer__inner textarea::placeholder {
  max-width: 260px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6000000238418579px;
  color: #00B2A0;
}

.footer__inner input {
  margin-bottom: 35px;
}

.footer__inner textarea {
  resize: none;
  height: 155px !important;
  margin-bottom: 70px;
}

.footer__inner button {
  background-color: transparent;
  padding: 24px 110px;
  border: 1px solid rgb(196, 196, 196);
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6000000238418579px;
  color: #242121;
}

.footer__contacts {
  width: 600px;
}

.footer__contacts {
  background-color: #F8F8F8;
  padding: 50px 50px 70px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.6000000238418579px;
  color: #242121;
}

.footer__questions,
.footer__phone {
  margin-bottom: 65px;
}

.footer__address {
  max-width: 330px;
}

.footer__socials {
  text-align: center;
  margin-bottom: 200px;
}

.footer__social-link {
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6000000238418579px;
  color: #242121;
  transition: all .3s;
}

.footer__social-link + .footer__social-link {
  margin-left: 10px;
}

.footer__social-link:hover {
  color: #00B2A0;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00B2A0;
  padding: 70px 0 50px;
}

@media(max-width: 992px) {
  .title {
    font-size: 34px;
  }
  .title::after {
    font-size: 50px;
  }
  .header__mob-btn {
    display: block;
    border: none;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 0;
    width: 40px;
    height: 25px;
    background-color: transparent;
  }
  .header__mob-btn span {
    width: 40px;  
    display: block;
    height: 2px;
    background-color: #fff;
  }
  .menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background-color: #00B2A0;
    transform: translateY(-100%);
    transition: all .3s;
    z-index: -1;
  }
  .menu.active {
    transform: translateY(0);
  }
  .menu__list {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    flex-direction: column;
  }
  .menu__item + .menu__item {
    margin-left: 0;
    margin-top: 15px;
  }
  .header__title {
    font-size: 150px;
    line-height: 200px;
  }
  .about, .benefits, .highs {
    padding: 100px 0;
  }
  .about__title, .benefits__title, .highs__title {
    margin-bottom: 70px;
  }
  .about__column {
    max-width: 350px;
  }
  .benefits__items {
    display: block;
  }
  .benefits__item {
    max-width: 100%;
  }
  .benefits__item + .benefits__item {
    margin-top: 30px;
  }
  .benefits__content {
    flex-direction: column;
  }
  .benefits__descr {
    max-width: 100%;
    margin-top: 30px;
  }
  .highs {
    background-image: none;
  }
  .highs__content {
    padding-right: 0;
    max-width: 100%;
  }
  .gallery__title, .blog__title, .team__title, .prices__title, .footer__title {
    margin-bottom: 100px;
  }
  .gallery {
    margin-bottom: 100px;
  }
  .gallery__images {
    grid-gap: 20px;
  }
  .gallery__more,
  .gallery__blockquote-wrapper,
  .gallery__play {
    margin-bottom: 100px;
  }
  .gallery__blockquote-wrapper {
    padding: 50px 0;
  }
  .gallery__blockquote-author {
    right: -60px;
  }
  .gallery__play {
    height: 450px;
  }
}

@media(max-width: 768px) {
  .title {
    font-size: 22px;
    line-height: 40px;
  }
  .title::after {
    font-size: 40px;
  }
  .about__columns {
    display: block;
  }
  .about__column {
    max-width: 100%;
  }
  .benefits__items {
    margin-bottom: 70px;
  }
  .gallery__images {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery__more,
  .gallery__blockquote-wrapper,
  .gallery__play {
    margin-bottom: 70px;
  }
  .gallery__more-link {
    padding: 20px 50px;
  }
  .gallery__blockquote {
    font-size: 27px;
  }
  .gallery__blockquote-author {
    right: 10px;
    bottom: -20px;
  }
  .gallery__play {
    height: 350px;
  }
  .gallery__num {
    font-size: 45px;
    line-height: 60px;
  }
}

@media(max-width: 550px) {
  .header__title {
    font-size: 100px;
    line-height: 170px;
  }
  .header__subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  .benefits__progress {
    display: none;
  }
  .gallery__btn, .gallery__more-link {
    font-size: 18px;
  }
  .gallery__btn + .gallery__btn {
    margin-left: 15px;
  }
  .gallery__more-link {
    padding: 20px;
  }
  .gallery__more, .gallery__blockquote-wrapper, .gallery__play {
    margin-bottom: 50px;
  }
  .gallery__blockquote {
    line-height: 30px;
  }
  .gallery__play {
    height: 275px;
  }
  .gallery__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
  .gallery__num {
    font-size: 35px;
    line-height: 50px;
  }
}